.info-card__text_main {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 15px 0 3px;
}

@media (max-width: 860px) {
  .info-card__text_main {
    font-size: 52px;
    line-height: 52px;
    margin: 10px 0 3px;
  }
}

@media (max-width: 691px) {
  .info-card__text_main {
    font-size: 42px;
    line-height: 42px;
    margin: 10px 0 3px;
  }
}

@media (max-width: 630px) {
  .info-card__text_main {
    font-size: 32px;
    line-height: 32px;
    margin: 5px 0 3px;
    color: #fff;
  }
}