.content {
  max-width: 1178px;
  margin: 0 auto 0;
  display: flex;
  color: #cdcdcd;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 860px) {
  .content {
    flex-direction: column;
  }
}