.header__logo-container {
  position: relative;
  margin-right: 175px;
  height: calc(100% - 1px);
  width: 315px;
  border: 1px solid #989393;
  transition: all 0.2s ease;
}

.header__logo-container:before,
.header__logo-container:after,
.header__logo-container span:before,
.header__logo-container span:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
}
.header__logo-container:before {
  top: 0;
  left: -1px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.header__logo-container:after {
  top: 0;
  right: -1px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.header__logo-container span:before {
  bottom: -1px;
  left: -1px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
.header__logo-container span:after {
  bottom: -1px;
  right: -1px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

@media (max-width: 1110px) {
  .header__logo-container {
    margin-right: 25px;
    width: 270px;
  }
}

@media (max-width: 855px) {
  .header__logo-container {
    margin-right: 5px;
    width: 220px;
  }
}

@media (max-width: 790px) {
  .header__logo-container {
    margin-right: 35px;
    width: 270px;
  }
}

@media (max-width: 480px) {
  .header__logo-container {
    margin-right: 25px;
    width: 150px;
  }
}