.nav__item {
  font-family: "Museo Sans Cyrl";
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: normal;
  padding-bottom: 5px;
  transition: opacity 0.3s;
}

.nav__item:hover {
  border-bottom: 1px #cdcdcd solid;
  opacity: 0.8;
}

@media (max-width: 1110px) {
  .nav__item {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 3px;
  }
}

@media (max-width: 790px) {
  .nav__item {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 2px;
  }
}
